 body {


 }

     titulo-principal{
     padding-left: 25px;
     background-color: blueviolet;
     color: aliceblue
   }

 img {
   width: 100%;
      
 }

 .principal {
    background-color: white;
    padding: 30px;
 }

 h2{
    text-align: center;
 }

 p {
    text-align: center;

 }

 em strong{
    color: red;
 }

 #missao {
    font-size: 20px;
 }

 .beneficios {
     background-color: white;
     padding: 20px;

 }

 h3 {
    text-align: center;
 }

 ul {
     display: inline-block;
     vertical-align: top;
     width: 20%;
 }

 .itens {
      font-style: italic;
 }

 .imagembeneficios {
     width: 50%;
 }